doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../style.css")
    title Крестики-Нолики
    script(src="../bests.js" defer)
    body
        .container_best
            .best_pls
                h2.title_best Лучшие игроки
                .wrap_best
            .side.sideB
                button#close_best  закрыть