doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../style.css")
    title Крестики-Нолики
    script(src="../games.js" defer)
    body 
        .container_games
            .games_created 
                h2.title_games Доступные игры
                .wrap_games 
            .wrap_btn
                button#go_back Назад
                button#battle В бой
                